extend layout

block content
 .container
  header 
    h1= title 
  main.details
    
  footer.footer
    a(href="/")
     img(inline src="/images/home.svg", alt="home icon")
    a(href="/funhub") 
     img(inline src="/images/media.svg", alt="Fun Hub icon")
  script(src="https://code.responsivevoice.org/responsivevoice.js")
  script(src="/javascripts/details/sentences.js")